<%= render "shared/title", title: "Daily Workout" %>

<div class="row">
  <div class="col-12 col-md-6 center space">
    <div class="card border-primary col-12 col-lg-11">
      <div class="card-body">
        <h5 class="card-title">
          <b><%= @workout.created_at.strftime("%d/%m/%Y") %></b>
          <br />
          <small>good training!</small>
        </h5>
        <p class="card-text">
          <hr />
          <%= render "exercise_list" %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 center space">
    <div class="card border-primary col-12 col-lg-11">
      <div class="card-body">
        <h5 class="card-title">
          <b>Latest Workouts</b>
        </h5>
        <p class="card-text">
          <hr />
          <% @latest_workouts.each do |workout| %>
            <%= link_to workout.created_at.strftime("%d/%m/%Y"), workout_path(workout), class: "text-dark" %>
            <br />
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row col-12 sspace">
  <%= link_to "Add new exercise", new_exercise_path, class: "btn btn-primary" %>
</div>
<div class="row col-12 mspace">
  <%= link_to "Check all exercises", exercises_path, class: "btn btn-primary" %>
</div>
