<%= render "shared/title", title: "Daily Workout" %>

<!-- If there is no daily workout yet -->

<div class="row">
  <div class="col-12 col-md-7 space">
    <div class="card border-primary col-12 col-md-11">
      <div class="card-body">
        <h5 class="card-title">
          <u>Latest Workouts</u>
        </h5>
        <p class="card-text">
          <hr />
          <%= link_to "Lorem ipsum dolor.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor.", "#" %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-5 space">
    <button type="button" class="btn btn-primary btn-lg">Generate daily Workout</button>
  </div>
</div>

<!-- If there is a daily workout -->

<div class="row">
  <div class="col-12 col-sm-6 space">
    <div class="card border-primary col-12 col-lg-11">
      <div class="card-body">
        <p class="card-text">
          <%= link_to "Lorem ipsum dolor sit amet.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor sit amet.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor sit amet.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor sit amet.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor sit amet.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor sit amet.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor sit amet.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor sit amet.", "#" %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-sm-6 space">
    <div class="card border-primary col-12 col-lg-11">
      <div class="card-body">
        <h5 class="card-title">
          <u>Latest Workouts</u>
        </h5>
        <p class="card-text">
          <hr />
          <%= link_to "Lorem ipsum dolor.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor.", "#" %>
          <br />
          <%= link_to "Lorem ipsum dolor.", "#" %>
        </p>
      </div>
    </div>
  </div>
</div>
