<%= render "shared/title", title: "Exercises List" %>

<div class="space offset-4 offset-md-5">
  <%= will_paginate @exercises %>
</div>

<div class="mspace">
  <% @exercises.each do |exercise| %>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 center space">
        <div class="card border-primary col-12 col-lg-11">
          <div class="card-body">
            <p class="card-text">
              Name: <%= exercise.name %>
              <br />
              Sets:
              <% if exercise.sets? %>
                <%= exercise.sets %>
              <% else %>
                Not defined
              <% end %>

              <br />
              Duration:
              <% if exercise.duration? %>
                <%= exercise.duration %> min
              <% else %>
                Not defined
              <% end %>

              <br />
              Difficulty:
              <% if exercise.effort_level? %>
                <%= exercise.effort_level %>
              <% else %>
                Not defined
              <% end %>
              <br />
              <div class="col-6 col-sm-5 col-xl-4">
                <%= link_to "Edit", edit_exercise_path(exercise), class: "btn btn-primary" %>
                <%= link_to "Display", exercise_path(exercise), class: "btn btn-primary" %>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
