<%= render "shared/title", title: "Exercises List" %>

<div class="offset-md-1 offset-lg-2 mspace">
  <%= link_to "Back to daily workout", workouts_path, class: "btn btn-primary" %>
</div>

<div class="space offset-4 offset-md-5">
  <%= will_paginate @exercises %>
</div>

<div class="mspace">
  <% @exercises.each do |exercise| %>
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 center space">
        <div class="card border-primary col-12 offset-lg-1 col-lg-10">
          <div class="card-body">
            <p class="card-text">
              Name: <%= exercise.name %>
              <br />
              Sets:
              <% if exercise.sets? %>
                <%= exercise.sets %>
              <% else %>
                Not defined
              <% end %>

              <br />
              Duration:
              <% if exercise.duration? %>
                <%= exercise.duration %> min
              <% else %>
                Not defined
              <% end %>

              <br />
              Difficulty:
              <% if exercise.effort_level? %>
                <%= exercise.effort_level %>
              <% else %>
                Not defined
              <% end %>
              <br />
              <div class="col-12 col-md-6 col-lg-7 col-xl-6">
                <%= link_to "Display", exercise_path(exercise), class: "btn btn-primary sspace" %>
                <%= link_to "Edit", edit_exercise_path(exercise), class: "btn btn-primary sspace" %>
                <%= link_to "Delete", exercise_path(exercise),method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
              </div>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="space offset-4 offset-md-5 mspace">
  <%= will_paginate @exercises %>
</div>

<div class="offset-md-1 offset-lg-2 mspace">
  <%= link_to "Back to daily workout", workouts_path, class: "btn btn-primary" %>
</div>
